/* global style start
	============================================================================================ */

body {
	color: $text-color;
  font-family: $text-font;
  font-size: 15px;
	font-weight: 400;
  line-height: 1.667;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover{
  text-decoration: none;
}

button{
  cursor: pointer;

  &:focus{
    outline: 0;
    box-shadow: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $title-font;
	color: $title-color;
	line-height: 1.25;
}

h1,
.h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;

  @media(min-width: 600px){
    font-size: 50px;
  }
}
h2,
.h2 {
  font-size: 28px;
  font-weight: 700;

  @media(min-width: 1000px){
    font-size: 36px;
  }
}
h3,.h3{
  font-size: 20px;
  font-weight: 600;

  @media(min-width: 1000px){
    font-size: 22px;
  }
}

.pb-85px{
  padding-bottom: 45px;

  @media(min-width: 1000px){
    padding-bottom: 85px;
  }
}

.section-margin{
  margin: 60px 0;

  @media(min-width: 1000px){
    margin: 100px 0;
  }

  @media(min-width: 1200px){
    margin: 135px 0;
  }

  &--medium{
    margin: 40px 0;

    @media(min-width: 800px){
      margin: 80px 0;
    }

    @media(min-width: 1200px){
      margin: 120px 0;
    }
  }
}

.section-padding{
  padding: 60px 0;

  @media(min-width: 1000px){
    padding: 100px 0;
  }

  @media(min-width: 1200px){
    padding: 135px 0;
  }

  &--small{
    padding: 60px 0;

    @media(min-width: 1000px){
      padding: 100px 0;
    }
  }
}

.bg-magnolia{
  background: $magnolia;
}

/* global style end
	============================================================================================ */

